/* || RESET */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button {
  font: inherit;
}

/* || UTILITY CLASSES */
.center {
  text-align: center;
}

/* || GENERAL STYLES */

html {
  font-size: $fontSize;
  font-family: $fontFamily;
  background-color: $bodyBackgroundColor;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

header {
  width: 100%;
}

h1 {
  margin: $standardMargin;
  padding: $paddingTopBottom $paddingSide;
  font-size: 4rem;
  color: $headerColor;
}

h4 {
  color: $headerColor;
}

main {
  width: 100%;
}

footer {
  width: 100%;
  color: $footerColor;
  margin-top: 20px;
  font-weight: bolder;
  text-align: center;
}

@media screen and (max-width: 3000px) {
  .container {
    max-width: calc(30vw + 4px);
  }

  .container div {
    width: (30vw / 9);
    height: (30vw / 9);
    font-size: (30vw / 9)/2;
  }
}

@media screen and (max-width: 1050px) {
  .container {
    min-width: calc(45vw + 4px);
    min-height: calc(45vw + 4px);
  }

  .container div {
    min-width: (45vw / 9);
    min-height: (45vw / 9);
    font-size: (45vw / 9) / 2;
  }
}

@media screen and (max-width: 700px) {
  .container {
    min-width: calc(48vw + 4px);
  }

  .container div {
    min-width: (48vw / 9);
    min-height: (48vw / 9);
    font-size: (48vw / 9) / 2;
  }

  .btn {
    font-size: 0.6rem;
    padding: 0.2rem;
    display: inline-block;
    margin: $standardMargin;
    border: $borders;
    border-radius: 5px;
    box-shadow: $boxShadowBtn;
    background-color: $bottomButtonBackgroundColor;
    font-weight: bold;
  }

  .check-btn:hover,
  .reset-btn:hover,
  .autocheck-btn:hover {
    background-color: $bottomButtonBackgroundColor;
    cursor: pointer;
  }
}

@media screen and (max-width: 480px) {
  .container {
    max-width: calc(50vw + 4px);
  }

  .container div {
    min-width: (50vw / 9);
    min-height: (50vw / 9);
    font-size: (50vw / 9) / 2;
  }

  .btn {
    font-size: 0.5rem;
    padding: 0.1rem;
    display: inline-block;
    margin: $standardMargin;
    border: $borders;
    border-radius: 5px;
    box-shadow: $boxShadowBtn;
    background-color: $bottomButtonBackgroundColor;
    font-weight: bold;
  }

  .check-btn:hover,
  .reset-btn:hover,
  .autocheck-btn:hover {
    background-color: $bottomButtonBackgroundColor;
  }
}

@media screen and (max-width: 400px) {
  .container {
    max-width: calc(52vw + 4px);
  }

  .container div {
    min-width: (52vw / 9);
    min-height: (52vw / 9);
    font-size: (52vw / 9) / 2;
  }

  .btn {
    font-size: 0.5rem;
    padding: 0.1rem;
    display: inline-block;
    margin: $standardMargin;
    border: $borders;
    border-radius: 5px;
    box-shadow: $boxShadowBtn;
    background-color: $bottomButtonBackgroundColor;
    font-weight: bold;
  }

  .check-btn:hover,
  .reset-btn:hover,
  .autocheck-btn:hover {
    background-color: $bottomButtonBackgroundColor;
  }
}
