.container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  border: $borders;
  border-radius: 5px;
  box-shadow: $boxShadowGrid;
  margin: $standardMargin;
}
.container div:nth-child(even) {
  background-color: $darkBoardColor;
}

.container div {
  display: flex;
  background-color: $lightBoardColor;
  border: 1px solid black;
  border-radius: 3px;
  text-align: center;
  justify-content: center;
  transition: border 0.5s;
}

input {
  border: none;
  box-shadow: none;
  padding-left: 3px;
  font-weight: bolder;
  background-color: $inputBackgroundColor;
  width: 20px;
  margin: $standardMargin;
  transition: font-size 0.5s;
}

.evenInput {
  background-color: $inputDarkColor;
}

div[data-row="3"] {
  border-bottom: $borderBoxes;
}

div[data-row="4"] {
  border-top: $borderBoxes;
}

div[data-row="6"] {
  border-bottom: $borderBoxes;
}

div[data-row="7"] {
  border-top: $borderBoxes;
}

div[data-col="3"] {
  border-right: $borderBoxes;
}

div[data-col="4"] {
  border-left: $borderBoxes;
}

div[data-col="6"] {
  border-right: $borderBoxes;
}

div[data-col="7"] {
  border-left: $borderBoxes;
}
