/* FONTS */
$fontFamily: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;
$fontFamilyHeadings: $fontFamily;
$fontSize: clamp(1rem, 2.2vh, 1.5rem);

/* COLORS */
$bodyBackgroundColor: rgba(33, 155, 182, 0.466);
$borderColor: #000;
$headerColor: #333;
$difficultyButtonBackgroundColor: #fff;
$difficultyButtonColor: #000;
$difficultyButtonHover: rgba(186, 130, 27, 0.551);
$darkBoardColor: rgb(207, 214, 220);
$lightBoardColor: aliceblue;
$inputBackgroundColor: $lightBoardColor;
$inputDarkColor: rgb(207, 214, 220);
$bottomButtonBackgroundColor: burlywood;
$bottomButtonHover: rgba(175, 102, 7, 0.675);
$footerBackgroundColor: $headerColor;
$footerColor: $headerColor;

/* BORDERS */
$borders: 2px solid $borderColor;
$borderRadius: 15px;
$borderBoxes: 2px solid $borderColor;
$buttonFocus: 4px solid blue;

/* STANDARD PADDING */
$paddingTopBottom: 0.75rem;
$paddingSide: 1rem;

/* STANDARD MARGIN */
$standardMargin: auto;

/* STANDARD HEIGHT */
$standardHeight: auto;

/* STANDARD WIDTH */
$standardWidth: auto;
$widthBoardTile: calc(30vw / 9);

/* Box Shadow */
$boxShadowGrid: 1px 1px 5px 1px black;
$boxShadowBtn: 1px 1px 1px 0 black;
