/* FONTS */
/* COLORS */
/* BORDERS */
/* STANDARD PADDING */
/* STANDARD MARGIN */
/* STANDARD HEIGHT */
/* STANDARD WIDTH */
/* Box Shadow */
/* || RESET */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input,
button {
  font: inherit;
}

/* || UTILITY CLASSES */
.center {
  text-align: center;
}

/* || GENERAL STYLES */
html {
  font-size: clamp(1rem, 2.2vh, 1.5rem);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  background-color: rgba(33, 155, 182, 0.466);
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

header {
  width: 100%;
}

h1 {
  margin: auto;
  padding: 0.75rem 1rem;
  font-size: 4rem;
  color: #333;
}

h4 {
  color: #333;
}

main {
  width: 100%;
}

footer {
  width: 100%;
  color: #333;
  margin-top: 20px;
  font-weight: bolder;
  text-align: center;
}

@media screen and (max-width: 3000px) {
  .container {
    max-width: calc(30vw + 4px);
  }
  .container div {
    width: 3.33333vw;
    height: 3.33333vw;
    font-size: 1.66667vw;
  }
}

@media screen and (max-width: 1050px) {
  .container {
    min-width: calc(45vw + 4px);
    min-height: calc(45vw + 4px);
  }
  .container div {
    min-width: 5vw;
    min-height: 5vw;
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 700px) {
  .container {
    min-width: calc(48vw + 4px);
  }
  .container div {
    min-width: 5.33333vw;
    min-height: 5.33333vw;
    font-size: 2.66667vw;
  }
  .btn {
    font-size: 0.6rem;
    padding: 0.2rem;
    display: inline-block;
    margin: auto;
    border: 2px solid #000;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 1px 0 black;
            box-shadow: 1px 1px 1px 0 black;
    background-color: burlywood;
    font-weight: bold;
  }
  .check-btn:hover,
  .reset-btn:hover,
  .autocheck-btn:hover {
    background-color: burlywood;
  }
}

@media screen and (max-width: 480px) {
  .container {
    max-width: calc(50vw + 4px);
  }
  .container div {
    min-width: 5.55556vw;
    min-height: 5.55556vw;
    font-size: 2.77778vw;
  }
  .btn {
    font-size: 0.5rem;
    padding: 0.1rem;
    display: inline-block;
    margin: auto;
    border: 2px solid #000;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 1px 0 black;
            box-shadow: 1px 1px 1px 0 black;
    background-color: burlywood;
    font-weight: bold;
  }
  .check-btn:hover,
  .reset-btn:hover,
  .autocheck-btn:hover {
    background-color: burlywood;
  }
}

@media screen and (max-width: 400px) {
  .container {
    max-width: calc(52vw + 4px);
  }
  .container div {
    min-width: 5.77778vw;
    min-height: 5.77778vw;
    font-size: 2.88889vw;
  }
  .btn {
    font-size: 0.5rem;
    padding: 0.1rem;
    display: inline-block;
    margin: auto;
    border: 2px solid #000;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 1px 0 black;
            box-shadow: 1px 1px 1px 0 black;
    background-color: burlywood;
    font-weight: bold;
  }
  .check-btn:hover,
  .reset-btn:hover,
  .autocheck-btn:hover {
    background-color: burlywood;
  }
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[9];
      grid-template-columns: repeat(9, 1fr);
  -ms-grid-rows: (1fr)[9];
      grid-template-rows: repeat(9, 1fr);
  border: 2px solid #000;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 5px 1px black;
          box-shadow: 1px 1px 5px 1px black;
  margin: auto;
}

.container div:nth-child(even) {
  background-color: #cfd6dc;
}

.container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: aliceblue;
  border: 1px solid black;
  border-radius: 3px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: border 0.5s;
  transition: border 0.5s;
}

input {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding-left: 3px;
  font-weight: bolder;
  background-color: aliceblue;
  width: 20px;
  margin: auto;
  -webkit-transition: font-size 0.5s;
  transition: font-size 0.5s;
}

.evenInput {
  background-color: #cfd6dc;
}

div[data-row="3"] {
  border-bottom: 2px solid #000;
}

div[data-row="4"] {
  border-top: 2px solid #000;
}

div[data-row="6"] {
  border-bottom: 2px solid #000;
}

div[data-row="7"] {
  border-top: 2px solid #000;
}

div[data-col="3"] {
  border-right: 2px solid #000;
}

div[data-col="4"] {
  border-left: 2px solid #000;
}

div[data-col="6"] {
  border-right: 2px solid #000;
}

div[data-col="7"] {
  border-left: 2px solid #000;
}

.header-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px auto;
  width: 31%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
}

.easy-btn,
.medium-btn,
.hard-btn {
  padding: 0.2rem;
  display: inline-block;
  color: #000;
  margin: auto;
  border: 2px solid #000;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 1px 0 black;
          box-shadow: 1px 1px 1px 0 black;
  background-color: #fff;
  font-weight: bold;
}

.easy-btn:hover,
.medium-btn:hover,
.hard-btn:hover {
  background-color: rgba(186, 130, 27, 0.551);
}

#notification {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  font-size: 1rem;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  font-weight: bolder;
}

.bottom-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px auto;
  width: 31%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
}

.check-btn,
.reset-btn,
.autocheck-btn {
  padding: 0.5rem;
  display: inline-block;
  margin: auto;
  border: 2px solid #000;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 1px 0 black;
          box-shadow: 1px 1px 1px 0 black;
  background-color: burlywood;
  font-weight: bold;
}

.check-btn:hover,
.reset-btn:hover,
.autocheck-btn:hover {
  background-color: rgba(175, 102, 7, 0.675);
}
/*# sourceMappingURL=style.css.map */