/* || RESET */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button {
  font: inherit;
}

/* || VARIABLES */

:root {
  /* FONTS */
  --FF: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  --FF-HEADINGS: var(--FF);
  --FS: clamp(1rem, 2.2vh, 1.5rem);

  /* COLORS */
  --BODY-BGCOLOR: rgba(33, 155, 182, 0.466);
  --BORDER-COLOR: #000;
  --HEADER-COLOR: #333;
  --DIFFICULTY-BTN-BGCOLOR: hsl(0, 0%, 100%);
  --DIFFICULTY-BTN-COLOR: #000;
  --DIFFICULTY-BTN-HOVER: rgba(186, 130, 27, 0.551);
  --DARK-BOARD-COLOR: rgb(207, 214, 220);
  --LIGHT-BOARD-COLOR: aliceblue;
  --INPUT-BGCOLOR: var(--LIGHT-BOARD-COLOR);
  --INPUT-DARK-BGCOLOR: rgb(207, 214, 220);
  --BOTTOM-BTN-BGCOLOR: burlywood;
  --BOTTOM-BTN-HOVER: rgba(175, 102, 7, 0.675);
  --FOOTER-BGCOLOR: var(--HEADER-COLOR);
  --FOOTER-COLOR: var(--HEADER-COLOR);

  /* BORDERS */
  --BORDERS: 2px solid var(--BORDER-COLOR);
  --BORDER-RADIUS: 15px;
  --BORDER-BOXES: 2px solid var(--BORDER-COLOR);
  --BTN-FOCUS: 4px solid blue;

  /* STANDARD PADDING */
  --PADDING-TB: 0.75rem;
  --PADDING-SIDE: 1rem;

  /* STANDARD MARGIN */
  --MARGIN: auto;

  /* STANDARD HEIGHT */
  --HEIGHT: auto;

  /* STANDARD WIDTH */
  --WIDTH: auto;
  --WIDTH-BOARD-TILE: calc((30vw / 9));

  /* BOX SHADOW */
  --BOX-SHADOW-GRID: 1px 1px 5px 1px black;
  --BOX-SHADOW-BTN: 1px 1px 1px 0 black;
}

/* @media (prefers-color-scheme: dark) {
  :root { */
/* DARK MODE COLORS */
/* --BODY-BGCOLOR: rgba(202, 190, 137, 0.738);
    --BORDER-COLOR: #000;
    --HEADER-COLOR: #333;
    --DIFFICULTY-BTN-BGCOLOR: #fff;
    --DIFFICULTY-BTN-HOVER: rgba(186, 130, 27, 0.551);
    --DARK-BOARD-COLOR: rgb(207, 214, 220);
    --LIGHT-BOARD-COLOR: aliceblue;
    --INPUT-BGCOLOR: var(--LIGHT-BOARD-COLOR);
    --INPUT-DARK-BGCOLOR: rgb(207, 214, 220);
    --BOTTOM-BTN-BGCOLOR: burlywood;
    --BOTTOM-BTN-HOVER: rgba(175, 102, 7, 0.675);
    --FOOTER-BGCOLOR: var(--HEADER-COLOR);
    --FOOTER-COLOR: var(--LIGHT-BOARD-COLOR); */
/* }
} */

/* || UTILITY CLASSES */
.center {
  text-align: center;
}

/* || GENERAL STYLES */

html {
  font-size: var(--FS);
  font-family: var(--FF);
  background-color: var(--BODY-BGCOLOR);
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

header {
  width: 100%;
}

h1 {
  margin: var(--MARGIN);
  padding: var(--PADDING-TB) var(--PADDING-SIDE);
  font-size: 4rem;
  color: var(--HEADER-COLOR);
}

/* nav button {
  display: block;
  float: right;
  padding: 5px;
} */

h4 {
  color: var(--HEADER-COLOR);
}

main {
  width: 100%;
}

.header-btn {
  display: flex;
  margin: 15px auto;
  width: 31%;
  justify-content: center;
  align-content: space-evenly;
}

.easy-btn,
.medium-btn,
.hard-btn {
  font-size: 1rem;
  padding: 0.2rem;
  display: inline-block;
  color: var(--DIFFICULTY-BTN-COLOR);
  margin: var(--MARGIN);
  border: var(--BORDERS);
  border-radius: 5px;
  box-shadow: var(--BOX-SHADOW-BTN);
  background-color: var(--DIFFICULTY-BTN-BGCOLOR);
  font-weight: bold;
}

.easy-btn:hover,
.medium-btn:hover,
.hard-btn:hover {
  background-color: var(--DIFFICULTY-BTN-HOVER);
}

.easy-btn:focus,
.medium-btn:focus,
.hard-btn:focus {
  border: var(--BTN-FOCUS);
}

#notification {
  display: block;
  width: fit-content;
  margin: 10px var(--MARGIN);
  font-size: 1rem;
  transition: opacity 0.5s;
  font-weight: bolder;
}

.container {
  max-width: calc(30vw + 4px);
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  border: var(--BORDERS);
  border-radius: 5px;
  box-shadow: var(--BOX-SHADOW-GRID);
  margin: var(--MARGIN);
}

.container div:nth-child(even) {
  background-color: var(--DARK-BOARD-COLOR);
}

.container div {
  display: flex;
  background-color: var(--LIGHT-BOARD-COLOR);
  border: 1px solid black;
  border-radius: 3px;
  height: var(--WIDTH-BOARD-TILE);
  width: var(--WIDTH-BOARD-TILE);
  text-align: center;
  font-size: calc(var(--WIDTH-BOARD-TILE) / 2);
  justify-content: center;
  transition: border 0.5s;
  min-width: calc((30vw / 9));
}

input {
  border: none;
  box-shadow: none;
  padding-left: 3px;
  font-weight: bolder;
  background-color: var(--INPUT-BGCOLOR);
  width: 20px;
  margin: var(--MARGIN);
  transition: font-size 0.5s;
}

#evenInput {
  background-color: var(--INPUT-DARK-BGCOLOR);
}

div[data-row="3"] {
  border-bottom: var(--BORDER-BOXES);
}

div[data-row="4"] {
  border-top: var(--BORDER-BOXES);
}

div[data-row="6"] {
  border-bottom: var(--BORDER-BOXES);
}

div[data-row="7"] {
  border-top: var(--BORDER-BOXES);
}

div[data-col="3"] {
  border-right: var(--BORDER-BOXES);
}

div[data-col="4"] {
  border-left: var(--BORDER-BOXES);
}

div[data-col="6"] {
  border-right: var(--BORDER-BOXES);
}

div[data-col="7"] {
  border-left: var(--BORDER-BOXES);
}

.bottom-btn {
  display: flex;
  width: 60%;
  margin: 30px auto;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

.check-btn,
.reset-btn {
  padding: 0.5rem;
  display: inline-block;
  margin: --var(--MARGIN);
  border: var(--BORDERS);
  border-radius: 5px;
  box-shadow: var(--BOX-SHADOW-BTN);
  background-color: var(--BOTTOM-BTN-BGCOLOR);
  font-weight: bold;
}

.check-btn:hover,
.reset-btn:hover {
  background-color: var(--BOTTOM-BTN-HOVER);
}

.check-btn:focus,
.reset-btn:focus {
  border: var(--BTN-FOCUS);
}

footer {
  width: 100%;
  color: var(--FOOTER-COLOR);
  margin-top: 20px;
  font-weight: bolder;
  text-align: center;
}

@media screen and (max-width: 1100px) {
  .container {
    max-width: calc(50px * 9 + 4px);
  }

  .container div {
    min-width: 50px;
    min-height: 50px;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  .container {
    max-width: calc(33px * 9 + 4px);
  }

  .container div {
    min-width: 33px;
    min-height: 33px;
    font-size: 1rem;
  }
}
